@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  font-family: 'Playfair Display', serif !important;
  font-style: italic;
}

.containerBg {
  display: flex;
  flex-direction: column;
  height: 96vh ;
  justify-content: center;
  background-color: #87cefabe;
}

.container-header {
  width: 120vh;
}

.container-header h1 {
  font-size: 50px;
  margin-left: 1em !important;
}

.container-header-2{
  margin-left: 21em !important;
  width: 60vh;
}

.container-header-2 h2{
  font-size: 40px;
}

.nav {
  color: #000000 !important;
  background-color: #87cefabe !important;
}
