@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');

* {
  font-family: 'Playfair Display', serif !important;
  font-style: italic;
}

.container {
  display: flex;
  flex-direction: column;
  height: 90vh !important;
  justify-content: center;

}

.container-header {
  width: 100vh;
}

.container-header h1 {
  font-size: 50px;
}

.container-header-2{
  margin-left: 21em !important;
}

.container-header-2 h2{
  font-size: 40px;
}

.nav {
  color: #000000 !important;
}

.nav:hover{
  color: #fff !important;
}