html {
  height: 100%;
}

.containerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10em auto ;
  width: 50vh;
  height: 50vh;
}

.bodyform {
  width: 30vh;
}

.btnEnviar {
  width: 100% !important;
  font-weight: bold;
  font-size: large;
  margin-left: auto !important; 
}

.end-page {
  margin-top: 10em;
}

.end-page h3 {
  text-align: center;
}