.cardContainer {
  margin-top: 2.5em;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mapContainer {
  width: 38vh;
  height: 38vh;
  margin: 0em 2em;
  padding: 0.5em;
  border: 0.1em solid rgba(0, 0, 0, 0.164);
  border-radius: 0.5em;
  text-align: center;
}


.cardName {
  font-size: x-large;
  text-align: left;
  margin: 1.5em auto 1em 0.5em; 
}

.describe {
  height: 11vh;
  font-size: larger;
  margin: 2.2em auto;
}

.btn {
  margin: 0.1em 1em 0.5em 0.4em;
  padding: 0.5em;
  border: 0.1em solid rgba(0, 0, 0, 0.233);
  width: 10vh;
  background-color: #6f00ffd7;
  color: #FFF;
}

.btn:hover {
  background-color: #6495ed;
}